:root {
  --primary-color: #121212;
  --secondary-color: #000;
  --text-color: #fff;
  --secondary-text-color: #ababab;
  --linkedin-color: #00a4fc;
  --github-color: #59636e;
  /* --accent_color: #1866a5; */
  --accent_color: #1a262c;
  /* --accent_color_dark: #051a27;  */
  --accent_color_dark: #000e15;
  --tech-icon-bubble-color: rgba(255, 255, 255, 0.1);
}

/* Dark Theme Background */
.dark-theme {
  --primary-color: #121212;
  --secondary-color: rgb(2 6 23 / var(--tw-bg-opacity, 1));
  --text-color: #fff;
  --secondary-text-color: #ababab;
  --accent_color: #1a262c;
  --accent_color_dark: #000e15;
  --lets-talk-gradient-start: #70a5bd;
  --lets-talk-gradient-end: #b7bbbd;

  /* background-image: url("./assets/img/background-5.jpg"); */
  background-color: var(--secondary-color) !important;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

}

/* Light Theme Background */
.light-theme {
  --primary-color: #ffffff;
  --secondary-color: #f5f5f5;
  --text-color: #121212;
  --secondary-text-color: #555;
  --accent_color: #e0e0e0;
  --accent_color_dark: #ccc;
  --tech-icon-bubble-color: rgba(0, 0, 0, 0.1);


  --lets-talk-gradient-start: #27779c;
  --lets-talk-gradient-end: #7c8e96;

  background-color: rgb(248 250 252 / var(--tw-bg-opacity, 1));
  /* background-image: url("./assets/img/background-light-2.jpg"); */
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
  /* Match this to your dark background color */
}

::-webkit-scrollbar-thumb {
  background: #555;
  /* Slightly lighter than the background for contrast */
  border-radius: 4px;
  /* Rounded edges for a smooth, clean look */
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
  /* Slightly lighter on hover for better visibility */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  color: var(--text-color) !important;
  overflow-x: hidden;
  transition: background-image 0.4s ease, color 0.4s ease;
}



.theme-toggle {
  font-size: 1.2rem;
  margin-left: 1rem;
  transition: transform 0.2s ease;
}

.theme-toggle:hover {
  transform: scale(1.2);
}


img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

/************ Loader Css ************/
.loader_icon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #0c0513;
  background-image: url(./assets/img/loader.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  transition: opacity 0.1s linear, visibility .5s linear;
}

.loader_icon_none {
  visibility: hidden;
  opacity: 0;
}


/************ Navbar Css ************/
/* 
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

nav.navbar.scrolled {
  padding: 10px;
  background-color: var(--primary-color);
}

nav.navbar a.navbar-brand {
  width: 9%;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: var(--text-color) !important;
  letter-spacing: 0.8px;
  padding: 5px 25px;
  font-size: 18px;
  opacity: 0.75;
  transition: ease-out 0.3s;

}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
  scale: 1.05;
}
*/

/* .toggled {
  background-color: #121212;
} */

/** intro **/
.gradient-text {
  background: linear-gradient(135deg, #0ea5e9 0%, #2dd4bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro {
  /* background-color: #121212; */
  color: var(--text-color);
  padding: 3em 1em;
  font-size: 50px;
  min-height: 99vh;
}

.intro #myName {
  font-size: 70px;
}

.typingText {
  display: inline-block;
}

.intro .bio {
  font-size: 20px;
  margin-top: 1em;
  color: var(--secondary-text-color);
  letter-spacing: 2px;
}

.iconGitHub {
  color: var(--text-color);
  transition: ease-out 0.32s;
}

.iconGitHub:hover {
  color: var(--github-color);
  scale: 1.2;
}

.iconLinkedIn {
  color: var(--text-color);
  transition: ease-out 0.32s;
}

.iconLinkedIn:hover {
  color: var(--linkedin-color);
  scale: 1.2;
}

/** Experience **/
.experienceCard {
  background-color: var(--primary-color) !important;
  color: var(--text-color) !important;
}



/** projects **/
.mainHeader h1 {
  font-size: 3.5em;
  text-align: center;
  padding-top: 3em;
}

.projects {
  text-align: center;
}

.projects p {
  font-size: larger;
}

.projectCard {
  background-color: var(--primary-color) !important;
  color: var(--text-color) !important;
  margin: 1em;
  border-radius: 10px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
  transition: 0.32s ease-in-out;
}

.projectCard:hover {
  scale: 1.03;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 1.5);
}

.projectCard .card-title {
  font-size: 1.7em;
  padding: 0.5em;
}

.projectCard .card-text {
  color: var(--secondary-text-color);
}

.projectCard .projectKeywords {
  padding: 0.2em;
}

.projectCard .projectKeywords span {
  padding: 0.5em;
  margin: 0 0.5em;

  background-color: var(--secondary-color) !important;
  color: var(--text-color) !important;
}

/** skills **/
.skillCard {
  background-color: var(--primary-color) !important;
  color: var(--text-color) !important;
  opacity: 0.88;
  transition: scale 0.32s ease-in-out;
}

.skillCard:hover {
  scale: 1.03;
  box-shadow: 2px 2px 20px rgba(215, 134, 134, 0.297);
}

.skillCard .hoverIcon {
  transition: 1.5s ease-in-out;
}

.skillCard:hover .hoverIcon {
  /* transform: rotate3d(0, 1, 1, 360deg); */
  transform: rotateY(360deg);
}

.skillCard.flash-in-section {
  transition: scale 0.32s, opacity 1s, visibility 0.5s;
  transition-timing-function: ease-in-out;
}

.tech-icons {
  font-size: 4.5em !important;
  margin: 15px !important;
  padding: 10px !important;
  opacity: 0.83 !important;
  border: 1.7px solid var(--accent_color) !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 4px 5px 4px 3px var(--accent_color_dark) !important;
  overflow: hidden !important;
  background-color: var(--secondary-color);
  transition: all 0.4s ease 0s !important;
}

.tech-icon-bubble {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--tech-icon-bubble-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}


/** contact **/
.contact>.row {
  padding: 3em;
  padding-top: 0;
}

.contact>.row>* {
  margin-top: 1em;
}


/* Gradient Text Effect for Let's Talk*/
.contact>.row h2 {
  display: inline-block;
  background: linear-gradient(to right, var(--lets-talk-gradient-start), var(--lets-talk-gradient-end));
  /* background: linear-gradient(to right, #70a5bd, #b7bbbd); */
  background-clip: text;
  color: transparent;
}

.contactInfo p {
  padding-left: 1em;
  font-size: 17px;
}

.contact form label {
  font-size: 18px;
}

.contact form input {
  width: 100%;
}

.contact form button {
  font-weight: 500;
}

.socials a {
  margin: 0 0.5em 0 0;
}

/** footer **/
footer {
  text-align: center;
  font-size: 16px;
  color: var(--secondary-text-color);
  font-weight: 300;
}

/** Special css **/
.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}


.flash-in-section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 2.5s, visibility 0.9s;
  transition-timing-function: ease-out;
  will-change: opacity, visibility;
}

.flash-in-section.is-visible {
  opacity: 1;
  visibility: visible;
}

/* 
span.navbar-text {
  display: flex;
  align-items: center;
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
} */

.timeline-item {
  position: relative;
  margin-left: 2rem;
  padding-left: 2rem;
  border-left: 2px solid #6c757d;
  /* vertical line */
}

.timeline-dot {
  position: absolute;
  left: -9px;
  top: 10px;
  width: 16px;
  height: 16px;
  background-color: #6c757d;
  border-radius: 50%;
}

.timeline-card {
  margin-bottom: 2rem;
}

/* Fade-in effect */
.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
}

.timeline-item:nth-child(even) {
  margin-left: auto;
  margin-right: 2rem;
  padding-left: 0;
  padding-right: 2rem;
  border-left: none;
  border-right: 2px solid #6c757d;
}

.timeline-item:nth-child(even) .timeline-dot {
  left: auto;
  right: -9px;
}